<style>
html { margin: 5px; font-size:15px;}
#content {
 -webkit-border-radius:5px;
 border:1px solid #c0c0c0;
 font-family:monospace;
 width:850px;
 padding:15px;
 margin-top:10px;
 font-size:92%;
 /* Wrapping */
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#meta {
  position:absolute;
  top:0;
  left:15px;
  color:#999999;
}
.zanchor {
  background:#FF7F50;;
}
</style>
<script>
var n = 0;

function next() {
}

function prev() {
}

</script>
<div id="meta">
  0 lines
</div>
<div id="content">
<%= contents %>
</div>
